
      
      <div class='last-month-stats-wrapper'>
        <h1 class="fitness-dash-title">Last Month</h1>
        <ul class='friends-list'>
          <li>
            <div class="activity-stat-list">
              <div class="md-6-100 activity-stat-square">
                <div class="avatar user-specs-avatar center avatar-small">
                  <div class='center'>
                    <h3><%= sample_user.first_name[0]; %></h3>
                  </div>
                </div>
              </div>
              <div class="md-11-100 activity-stat-square inverse">
                <div class='center'>
                  <h3>Grade</h3>
                  <div id='class-grade-total' class='activity-stat-num'><%= class_grades.total %></div>
                  <ul class='hidden'>
                    <li>Quantity: <%= class_grades.quantity %>/20</li>
                    <li>Activity Type Variety: <%= class_grades.activity_type %>/20</li>
                    <li>Studio Variety: <%= class_grades.studio %>/20</li>
                    <li>Class Type Variety: <%= class_grades.klass %>/20</li>
                    <li>Consistency: <%= class_grades.consistency %>/20</li>
                  </ul>
                </div>
              </div>

              <% for( var i=0 ; i < activity_types.length ; i++ ) { %>
                <% var activity = activity_types[i]; %>
                <% var activity_name = activity %>
                <% if (activity == "strength_training"){activity_name="strength";} %>
                <div class="md-11-100 activity-stat-square">
                  <div class='center'> 
                    <div class='activity-stat-num'>
                      <div class="orig-fields">
                        <h3><%= activity_name %></h3>
                        <span class='percent'><%= activity_breakdown_percent[activity] %></span><span class='percent-symbol'>%</span>
                      </div>
                      <div class="hover-fields hidden">
                        <h3>Classes</h3>
                        <div><%= activity_breakdown_num[activity] %></div>
                      </div>
                      
                    </div>
                  </div>
                </div>
              <% } %>

              <div class="md-11-100 activity-stat-square inverse">
                <div class='center'> 
                  <h3>Classes</h3>
                  <div class='activity-stat-num'>
                    <div><%= completed_classes.length %></div>
                  </div>
                </div>
              </div>
            </div>
          </li>

        </ul>
      </div>

      <div class='line-divider'>
        <hr>
      </div>

      <div class="recommended-studios-wrapper">
        <div class='fitness-dash-title rec-title'>
          <h1>Recommended Studios</h1>
          
          <h4 class='rec-description'>top-rated & selected to best match your preferences</h4>
          
          <nav class="subnav rec-subnav">
            <ul>
              <li><a class="active" href="#">Before Work</a></li>
              <li><a href="#">During Lunch</a></li>
              <li><a href="#">After Work</a></li>
            </ul>
          </nav>

          
        </div>

        <div class="grid grid-rev push-left-50">
          <div class="grid-item">
            <section>
              <ul class="grid recommended-list js-recommended-list">
              <% for (var i = 0 ; i < 6 ; i++){ %>
                <li class="grid-item md-4">
                  <div class="square square-centered recommended-item studio-bg-<%= i+1 %>">
                    <div class="square-content">
                      <h2 class="gamma"><a href="#">
                        <%= sorted_recommendations[i].attributes.name %>
                      </a></h2>
                      <p>
                        <%= sorted_recommendations[i].attributes.neighborhood %>
                      </p>
                    </div>
                  </div>
                </li>
              <% } %>
              </ul>
            </section>
          </div>
        </div>
      </div>



      <div class='line-divider'>
        
      </div>

  </section> <!-- END OF MAIN 9/12 SECTION -->
</div>

<section
  <div class='class-calendar-wrapper'>
    <h1 class="fitness-dash-title">This Week</h1>    
    
    <div class="class-calendar">
      <% for (var i = 0 ; i < weekdays.length ; i++ ) { %>
        <div class="md-14-100 class-calendar-tile">
          
            <div class="weekday-title">
              <h3><%= weekdays[i] %></h3>
            </div>
            <div class="class-details">
              <% var curr_day_classes = class_calendar[weekdays[i]] %>
              <% for (var j = 0 ; j < curr_day_classes.length ; j++ ) { %>
                <% var clas = curr_day_classes[j]; %>
                <% if (clas != 'undefined') { %>
                  <% var start_time = (new Date(clas.start_time)).toString("hh:mm tt") %>
                  <ul class='class-details'>
                    <li class='gamma'><h3><a href="#">
                      <%= clas.studio.name %>
                      </a></h3></li>
                    <li><%= clas.klass.name %></li>
                    <li><%= start_time %></li>
                    <li><%= clas.studio.neighborhood %></li>
                  </ul>
                <% } %>
              <% } %>
            </div>
          
        </div>
      <% } %>
    </div>     
  </div>

</section>







