

  <h2>Basic User Stats</h2>
  <div>
    Completed: <%= completed_classes_count %>
  </div>
  <div>
    Upcoming: <%= upcoming_classes_count %>
  </div>
  <div>
    Days Remain: <span id='test'>14</span>
  </div>
  <div>
    Cycle Ends: 3/15
  </div>
  
  <br>

  <h2>User Activity Breakdown</h2>
    <div>Dance: <%=             activity_breakdown_num.dance %> | <span class='percent'><%= activity_breakdown_percent.dance %></span>%</div>
    <div>Spin: <%=              activity_breakdown_num.spin %> | <span class='percent'><%= activity_breakdown_percent.spin %></span>%</div>
    <div>Strength Training: <%= activity_breakdown_num.strength_training %> | <span class='percent'><%= activity_breakdown_percent.strength_training %></span>%</div>
    <div>Yoga: <%=              activity_breakdown_num.yoga %> | <span class='percent'><%= activity_breakdown_percent.yoga %></span>%</div>
    <div>Barre: <%=             activity_breakdown_num.barre %> | <span class='percent'><%= activity_breakdown_percent.barre %></span>%</div>
    <div>Classes Taken: <%=     activity_breakdown_num.total %>
  <br>

  <h2>User Upcoming Classes</h2>

    <!-- FINISH THIS AND REPLACE VARIABLES with class_calendar variable -->
    
    <% for (var i in weekdays) { %>
      <h3><%= weekdays[i] %></h3>
      <% var class_day = class_calendar[weekdays[i]] %>
      <% for (var j in class_day ) { %>
        <% var start_time = (new Date(class_day[j].start_time)).toString("hh:mm tt") %>
        <div><%= class_day[j].studio.name %></div>
        <div><%= class_day[j].klass.name %></div>
        <div><%= start_time %></div>
        <div><%= class_day[j].studio.neighborhood %></div>
      <% } %>
    <% } %>
    



