

  <h2>Basic User Stats</h2>
  <div>
    Completed: <%= u_basic_stats.completed_count %>
  </div>
  <div>
    Upcoming: <%= u_basic_stats.upcoming_count %>
  </div>
  <div>
    Days Remain: 14
  </div>
  <div>
    Cycle Ends: 3/15
  </div>
  
  <br>

  <h2>User Activity Breakdown</h2>
    <div>Dance: <%= u_activities_breakdown.dance %>%</div>
    <div>Spin: <%= u_activities_breakdown.spin %>%</div>
    <div>Strength Training: <%= u_activities_breakdown.strength_training %>%</div>
    <div>Yoga: <%= u_activities_breakdown.yoga %>%</div>
    <div>Barre: <%= u_activities_breakdown.barre %>%</div>
  
  <br>

  <h2>User Upcoming Classes</h2>

    <% var today = new Date() %>
    <% var weekdays = ['sunday','monday','tuesday','wednesday','thursday','friday','saturday'] %>
    <% for (i in weekdays) { %>
      <h3><%= weekdays[i]; %></h3>
        <% for (j in u_upcoming_classes) { %>
          <% if (u_upcoming_classes[j].weekday_num == i ) { %>
                <div><%= u_upcoming_classes[j].studio_name %></div>
                <div><%= u_upcoming_classes[j].class_time %></div>
                <div><%= u_upcoming_classes[j].neighborhood %></div>
          <% } %>
        <% } %>
    <% } %>